# Node dependencies
node_modules/

# Cypress outputs
cypress/videos/
cypress/screenshots/

# Environment files
.env
.env.local
.env.development
.env.production
cypress.env.json
*.secret

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# Coverage (solo si usas @cypress/code-coverage)
coverage/

# Scripts internos para revisar secretos
scan-secrets.js
scan-git-secrets.js
